body{
    color:rgb(144, 163, 177);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(144, 163, 177);
}

h1{
    color:rgb(33, 69, 84);
}

.grid-col-span-2{
    grid-column: span 2;
}

.portfolio{
    /* display:flex;
    justify-content: space-between; */
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1em;
}

.portfolio > * {
    background-color: rgb(33, 69, 84);
    border-radius: 5px;
    padding: 1em;
}

a{
    color: aliceblue;
    text-decoration:none;
}

a:hover{
color:rgb(207, 222, 232);
}